.register{max-width:400px;background:rgba(255,255,255,.5);box-sizing:border-box;box-shadow:0 15px 25px rgba(0,0,0,.6);border-radius:10px;padding:40px;margin:100px auto}.register .form h2{color:#000;text-align:center;font-size:26px;margin-bottom:30px}.register .form .user-box .form-input{background-color:rgba(0,0,0,0);outline:none;border:none;padding:10px 15px;color:#000;font-size:18px;border-bottom:1px solid #000;width:100%}.register .form .user-btns{margin-top:30px;display:flex;justify-content:space-between;align-items:center}.header .navbar{height:80px;display:flex;justify-content:space-between;align-items:center;background-color:#fff;padding:0 20px}.header .navbar .logo{font-size:26px;color:#000;display:flex;align-items:center;gap:0 10px}.header .navbar .menu{display:flex;align-items:center;gap:0 40px}.header .navbar .menu-li a{color:#000;font-size:16px;transition:all .3s}.header .navbar .menu-li a:hover{color:#126eb9}.header .navbar .menu .navbar-auth{padding-left:20px;display:flex;align-items:center;gap:0 20px;position:relative}.header .navbar .menu .navbar-auth::before{content:"";position:absolute;left:0;top:30%;height:20px;width:1px;background-color:#000}.header .navbar .menu .navbar-auth .login-btn{font-weight:700;font-size:16px;color:#1a91f0;transition:all .3s}.header .navbar .menu .navbar-auth .login-btn:hover{color:#126eb9}.header .navbar .menu .navbar-auth .signup-btn{color:#fff;font-weight:700;font-size:16px;border-radius:4px;background-color:#1a91f0;padding:14px 24px;transition:all .3s}.header .navbar .menu .navbar-auth .signup-btn:hover{background-color:#126eb9}.main .hero{background-color:#eff2f9;height:calc(100vh - 160px)}.main .hero-inner{display:flex;justify-content:space-between;align-items:center;padding:50px 0}.main .hero-inner .hero-item .hero-title{font-size:54px;font-weight:700;line-height:52px;margin-bottom:24px;max-width:8.5em}.main .hero-inner .hero-item .hero-text{font-size:22px;line-height:28px;margin-bottom:24px;max-width:400px}.main .hero-inner .swiper{flex:1 1 auto;min-width:0}.main .hero-inner .swiper-container{height:calc(100vh - 260px)}.main .hero-inner .swiper-container .swiper-wrapper .swiper-slide{color:#fff;display:flex;justify-content:center;align-items:center}.main .hero-inner .swiper-container .swiper-wrapper .swiper-slide .swiper-img{width:100%;height:100%}.main .logos{margin-bottom:80px}.main .logos .sponsorship{height:77px;display:flex;align-items:center;justify-content:center;gap:0 40px;padding:10px 0}.main .logos .sponsorship .spon-img{display:flex;align-items:center;gap:0 10px}.main .logos .sponsorship .spon-img img{height:80px}.main .promo-header{display:flex;justify-content:space-between;align-items:center;gap:0 30px}.main .promo-header__content{max-width:500px}.main .promo-header__content .promo-header__title{font-size:46px;font-weight:700;line-height:48px;margin-bottom:20px}.main .promo-header__content .promo-header__description{font-size:18px;line-height:120%;margin-bottom:20px}.main .promo-features{display:flex;justify-content:space-between;align-items:center;gap:0 30px;padding:80px 50px}.main .promo-features .promo-feature__icon{width:50px;height:50px;margin-bottom:10px}.main .promo-features .promo-feature__title{font-size:22px;font-weight:600;line-height:28px;margin-bottom:15px}.main .promo-features .promo-feature__description{font-size:18px;line-height:120%}body{font-family:"Lato",sans-serif;line-height:100%;font-weight:400px;font-style:normal;box-sizing:border-box}.container{max-width:1220px;margin:0 auto;padding:0 15px}button{border:none;background:rgba(0,0,0,0);cursor:pointer}.button{background-color:#1a91f0;color:#fff;border-radius:4px;padding:18px 40px;transition:all .3s;font-size:18px;font-weight:700}.button:hover{background-color:#126eb9}/*# sourceMappingURL=style.css.map */}
.main .promo-features .promo-feature__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 15px;
}
.main .promo-features .promo-feature__description {
  font-size: 18px;
  line-height: 120%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 100%;
  font-weight: 400px;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.button {
  background-color: #1a91f0;
  color: #fff;
  border-radius: 4px;
  padding: 18px 40px;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 700;
}
.button:hover {
  background-color: #126eb9;
}/*# sourceMappingURL=style.css.map */