// SIZES
$container: 1220px;
$margin: 12px;
$padding: 12px;

// COLORS
$white: #fff;
$black: #000;
$blue: #1a91f0;
$hoverBlue: #126eb9;
$neutral: #eff2f9;
$text: #1a1c6a ;

// FONTS
$font: 'Lato',
sans-serif;